@import url("base.css");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  background: var(--color1);
}

.main {
  height: 79.9vh;
  display: flex;
  user-select: none;
}

.info {
  flex-basis: 50%;
  display: flex;
  text-transform: capitalize;
  flex-direction: column;
  align-items: center;
  height: 80vh;
  width: 70%;
}

.info-content {
  height: 20%;
  margin: auto;
}

.heading {
  color: var(--color2);
}

.head-txt {
  color: var(--color2);
}

.dynamic-txts {
  padding: 0;
}

.wrapper .dynamic-txts {
  padding: 0;
  height: 90px;
  line-height: 90px;
  overflow: hidden;
}

.dynamic-txts li {
  list-style: none;
  color: var(--color3);
  font-size: 60px;
  font-weight: 500;
  position: relative;
  top: 0;
  animation: slide 12s steps(4) infinite;
}

@keyframes slide {
  100% {
    top: -360px;
  }
}

.dynamic-txts li span {
  position: relative;
  line-height: 90px;
}

.dynamic-txts li span::after {
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  background: var(--color1);
  border-left: 2px solid #fc6d6d;
  animation: typing 3s steps(10) infinite none running;
}

@keyframes typing {
  40%,
  60% {
    left: calc(100% + 30px);
  }

  100% {
    left: 0;
  }
}

.svg-image {
  display: flex;
  height: 90vh;
  width: 50%;
  flex-basis: 50%;
}

.svg-image img {
  height: 70%;
  margin: auto;
}
